name: Update Blocklist

on:
    schedule:
        - cron: "0 3 * * *"
    push:
        branches: [ main ]
    workflow_dispatch:

permissions:
    contents: write

jobs:
    update-blocklist:
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout repository
          uses: actions/checkout@v3
          with:
              fetch-depth: 0
    
        - name: Setup Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.x'
        
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install requests
        
        - name: Run merge script
          run: python merge-lists.py
        
        - name: Commit and push if changed
          run: |
            git config --global user.email "action@github.com"
            git config --global user.name "GitHub Action"
            git add *.txt
            git diff --quiet && git diff --staged --quiet || (git commit -m "Update blocklist - $(date +'%Y-%m-%d %H:%M:%S')" && git push --force)
